language: ruby
rvm:
- 2.0.0

deploy:
  provider: heroku
  api_key:
    secure: ovv/iIuVo928A88l39TO+FGhzeCxzVupOtPWQwdEX2pKidfnZhz11X8jDSC1AWnGeCK9vaQePyBAVn/sZxEomIPN3XThlKaUGSyCTUNNtRlaHLc3frKlbmuuXRJMytE0qFX03z7jwmjUgmDHrNokKaL+FzM5v1kvcNyJspV9NrSZK6acgXrSBLlZs/isb2kze7GRGEH1SWX6HUOUM3F5oUK+Y6pwnLWJIG0rJ0EBK1cnhxHxtqdDgHO1yzDX0qc9XIbwgiv9Mm31M/ifexGLFVc6THl/C7O0IvTFCJVltuXlI/4is5ija3oapj71udTUvTIU8sjpGj3J4yC/dzex0xN/y3FAFRSmIJb3PDH0/MTstOl7hLGg6oA0DRpIoTkaZznyEcFCNo7ehynQxpnMN6R6RrI9U8GUdQZipxzUAlo1SN7bwA/vJo6Z6VKEJmMR9VGlBjd+Ybu/NxKiCNFriBHceOVm961CmtrfL+fzKQeOw8VPG9Izm2c3uuIkTmqMwN9HCtbwaMO0kxWLvj6EeF0M8DjlLDvkfOCSIsnwWMFPmv5miWTh555CJMLZFYoMn0xzSZqhuLiKEsWZujjDLGYLADJbFEsQ5pHy6j1IJL565hSt7ulGmk/WmuB9Kh5u03LoWFccj7D5b4WFNg7E8tSfd9OMWI0Gmv3EXnsZDm8=
  app: travv
  on:
    repo: chiawei-chua/trav
  run: 
    - bundle exec rake db:create
    - bundle exec rake

before_script:
- bundle exec rake db:create

