<% provide(:title, @listing.title) %>

<div class="row">
  <div class="container">
    <div class="col s12 l7">
      <h1> <%= @listing.title %> </h1>
      <p> Period: <%= @listing.title.split().first %>
      <p> Price: $<%= @listing.price %> </p>
      <p> <%= @listing.description %> </p>
      
      <div class="img-slider">
        
      </div>


      <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
      



    </div>
    <div class="col s12 l5">

    </div>
  </div>
</div>

