<div class="listing-overlay">
  <div class="content row">
    <span class="close clickable"><i class="fa fa-times"></i></span>
    <div class="card medium">
      <div class="card-image">
        <%= image_tag("room1.jpg") %>
      </div>
      <div class="card-content">
        <h5 class="title">
          <span class="text"></span>
        </h5>
        <div class="col s6">
          <p class="dura">
            Duration: <strong><span class="text"></span></strong>
          </p>
        </div>
        <div class="col s6">
          <p class="price">
            Price: <strong><span class="text"></span></strong>
          </p>
        </div>
        <p class="desc">
          <span class="text"></span>
        </p>
      </div>
      <div class="card-action">
        <a href="#" class="compare" data-link="">Compare</a>
        <a href="#" class="more-info">More Info</a>
      </div>
    </div>
  </div>
</div>