<% provide(:title, "Search") %>

<!-- Contents -->
<div class="listing-page">
  <div class="row">
    <div class="col s12 l9 fixed sidebar-left">
      <%= render partial: 'search/filters' %>
      <div id="listings-grid">
        <%= render partial: 'search_result', collection: @search, as: :list %>
      </div>
    </div> <!-- End of Col -->
    <div class="col l3 sidebar-right fixed">
      <div class="shortlist">
        <a href="compare"><h5 class="header">Compare <i class="fa fa-chevron-right"></i></h5></a>
        <div class="divider"></div>
        <ul class="collection" id="compare-list">
          <% if @shortlist.blank? %>
            <li class="empty"> There is nothing here :( </li>
          <% else %>
            <%= render partial: 'shortlist', collection: @shortlist, as: :list %>
          <% end %>
        </ul>
        <%- render partial: 'search/advert' -%>
      </div>
      <div class="handle clickable">
        <i class="fa fa-angle-double-left"></i>
      </div>
    </div> <!-- End of Col -->
  </div> <!-- End of Row -->
</div> <!-- End of Listing Page -->

<%= render partial: 'overlay' %>
