<div class="col s12">
  <h1 class="header"> Hot Deals </h1>
</div>
<div class="container">
  <% for j in 1..9 do %>
    <div class="col s12 m6 l4">
      <div class="card waves-effect waves-block waves-light">
        <div class="card-image">
          <%= image_tag "room1.jpg", class:"activator" %>
          <span class="card-title">Hot Deals <%= j %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>