<!-- Search -->
<section id="search">
  <%= render 'search' %>
</section>
<!-- End of Search -->

<!-- Travel Agencies -->
<section id="agency">
  <%= render 'agency' %>
</section>

<div class="deals row">
  <%= render 'deal' %>
</div>
