// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'globals';

section {
	margin-bottom: 30px;
}

// -------------- Jumbotron --------------
.jumbotron {
	position: relative;
	width: 100%;
	height: 600px;
}

.jumbotron > .video_container, .jumbotron > .search {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video_container iframe {
	position: absolute;
	top: -30%;
	height: 1000px;
	width: 100%;
	min-width: 1200px;
	z-index: 0;
	transform: scale(1.5,1.5);
}

.video_case {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.video_container > .title {
	position: absolute;
	left: 10%;
	top: 2%;
	color: white;
}

.video_container > .search_container {
	position: absolute;
	height: 400px;
	width: 850px;
	left: 10%;
	top: 25%;
	background-color: rgba(255,255,255,1);
	z-index: 2;
	border-radius: 5px;
}

.search_title {
	margin-left: 25px;
	margin-bottom: 50px;
}

.submit_button {
	margin-top: 20px;
	margin-right: 30px;
}

// -------------- Jumbotron --------------

.header {
	text-align: center;
	color: $theme_color;
	text-decoration: underline;
	line-height: 2;
}