<header class="navbar-fixed">
  <nav class="theme">
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to "Logo", root_path, class:'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Listings", listings_path%></li>
          <li><a href="#">Link2</a></li>
          <li><a href="#">Link3</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>